body
{
background-image:url('/images/doctor.jpg');
background-size:cover;
background-repeat:no-repeat;
opacity:0.7;
}
.head
{
font-family:verdana;
color:black;
opacity:1;
text-align:center;
font-weight:bold;
}
.head3
{
font-family:verdana;
color:black;
opacity:1;
text-align:center
}
.p1
{
font-family:verdana;
color:black;
opacity:1;
margin-left:510px;
}
.states
{
width:450px;
height:37px;
margin-left:420px;
}
#find
{
position:fixed;
left:64%;
top:54.5%;
width:100px;
height:40px;
}
.li1
{
font-family:verdana;
color:black;
text-decoration:none;
font-size:17px;
}
.chead
{
color:black;
font-family:verdana;
font-weight:bold;
}

