body
{
background-image:url('plane.jpg');
background-size:cover;
background-repeat:none;
}
.headdiv
{
width:100%;
height:90px;
background-color:#1C2833;
position:fixed;
top:0px;
left:0px;
}
.p1
{
position:fixed;
top:-20px;
right:25px;
color:#BDC3C7 ;
font-size:30px;
font-family:verdana;
}
.p2
{
font-size:23px;
font-family:verdana;
color:#BDC3C7;
position:fixed;
top:25px;
right:32px;
}
h3
{
font-size:22px;
font-family:verdana;
margin-top:200px;
text-align:center;
}
.para
{
text-align:center;
font-family:verdana;
font-size:17px;
}
button
{
display:block;
width:480px;
height:45px;
background-color:lightgrey;
position:fixed;
top:400px;
left:435px;
}
a
{
text-decoration:none;
font-size:17px;
color:black;
}