<!doctype html>
<html>
<head>
<link href="/images/doctor3.css" rel="stylesheet" type="text/css" />
<link href="/images/project5style.css" rel="stylesheet" type="text/css" />
<link href="/images/doctor2.css" rel="stylesheet" type="text/css" />
<link href="/images/doctorcomplexform.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="/">FindDoc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/browse">Browse Doctors</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/records">View Medical Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tests">Book Tests</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/adddoctors">Add Doctors</a>
          <a class="dropdown-item" href="/addcategory">Add Category</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<h3 class="chead">Categories</h3>
<br>
<% for(var j=0;j<categories.length;j++){ %>
	<span><a href="/doctors/<%= categories[j].category  %>"><span class='li1'><%= categories[j].category %></span></a></span>
<% } %>
<br><br>
<h1 class="head">FindaDoc</h1>
<h3 class="head">Search for local doctors</h3>

<h1 class="add">Add Doctor</h2>

<div class="container">

<form  method="post" action="/adddoctors">

<div class="form-row">
  <div class="form-group col-md-6">
    <label>Full Name</label>
    <input class="form-control" type="text" name='name'>
  </div>
  <div class="form-group col-md-6">
    <label>Category</label>
    <select class="form-control" name="category">
      <% for(var j=0;j<categories.length;j++){ %>
      	<option  value="<%= categories[j].category %>"><%= categories[j].category %></option>
      <% } %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label>Accepting</label>
    <select class="form-control" name="accepting">
      <option value='yes'>Yes</option>
      <option value="no">No</option>
    </select>
  <div class="form-group col-md-6">
    <label>Address</label>
    <input class="form-control" type="text" name='address'>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label>Practice Name</label>
    <input class="form-control" type="text" name='pname'>
  </div>
  <div class="form-group col-md-6">
    <label>Graduation Year</label>
    <input class="form-control" type="text" name='year'>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label>City</label>
    <input class="form-control" type="text" name='city'>
  </div>
  <div class="form-group col-md-6">
    <label>State</label>
      <select class="form-control" name="states">
        <option value="Rajasthan">Rajasthan</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Maharashtra">Maharashtra</option>
      </select>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label>Zipcode</label>
    <input class="form-control" type="text" name='code'>
  </div>
  <div class="form-group col-md-6">
    <label>Phone Number</label>
    <input class="form-control" type="text" name='phnnumber'>
  </div>
</div>
<button type="submit" class="btn btn-success">Add Doctor </button>
<br><br>
</form>

</div>
<br><br>
</body>
</html>