<!doctype html>
<html>
<head>
<link href="/images/project5style.css" rel="stylesheet" type="text/css" />
<link href="/images/doctor1.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FindaDoc</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse Doctors</a></li>
            <li><a href="/adddoctors">Add Doctors</a></li>
            <li><a href="/addcategory">Add Category</a></li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br><br>
<h1 class='head'>FindaDoc</h1>
<h3 class="head">Search for local doctors</h3>
<div class="categorydiv">
<h3 class="chead">Categories</h3>
<ul>
<% for(var j=0;j<categories.length;j++){ %>
	<li ><a href="/doctors/<%= categories[j].category %>"><p class='li1'><%= categories[j].category %></p></a></li>
<% } %>
</ul>
</div>
<br><br>
<h2 class="head3">Welcome to FindaDoc!</h2>
<p class="p1">We will help you find a doctor to your area</p>
<form method="post" action="/find">
<select class="states" name="states">
<option value="Rajasthan">Rajasthan</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Maharashtra">Maharashtra</option>
</select>
<button type="submit" id="find" class="btn btn-success">Find</button>
</form>

</body>
</html>